<!DOCTYPE html>
<html>
    <head>
        <title>Menu Admin</title>
        <link rel="stylesheet" href="stylesheets/menuAdmin.css">
    </head>

    <body>
        <nav class="navbar">
            <div class="navbar-brand">
                <span>Recicla Têxtil</span>
            </div>
            <div class="navbar-links">
                <a href="/admins" class="nav-link">Administradores</a>
                <a href="/entities" class="nav-link">Entidades</a>
                <a href="/donations" class="nav-link">Doações</a>
                <a href="/donators" class="nav-link">Doadores</a>
                <a href="/points" class="nav-link">Pontos</a>
                
            </div>
            <div class="profile-container" onclick="">
                <img src="" alt="Perfil" class="profile-pic">
                <div class="dropdown-menu" id="dropdownMenu">
                    <a href="/login" class="dropdown-item">Encerrar Sessão</a>
                </div>
            </div>
        </nav>
        <div class="container">
           
        </div>


    </body>

</html>