<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Menu Admin - Recicla Têxtil</title>
    <link rel="stylesheet" href="stylesheets/menuAdmin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    
    <nav class="navbar">
        <div class="navbar-brand">
            <span>Recicla Têxtil</span>
        </div>
        <ul class="navbar-links">
            <li><a href="/admins" class="nav-link"><i class="fa fa-user-tie"></i> Administradores</a></li>
            <li><a href="/entities" class="nav-link"><i class="fa fa-building"></i> Entidades</a></li>
            <li><a href="/donations" class="nav-link"><i class="fa fa-hand-holding-dollar"></i> Doações</a></li>
            <li><a href="/donators" class="nav-link"><i class="fa-solid fa-user"></i> Doadores</a></li>
            <li><a href="/points" class="nav-link"><i class="fa-solid fa-coins"></i> Pontos</a></li>
            <li>
                <div class="profile-container">
                    <img src="/images/perfil2.png" alt="Imagem de Perfil" class="profile-image">
                    <a href="/login"><i class="fa-solid fa-right-from-bracket"></i></a>
                </div>
            </li>
        </ul>

        
    </nav>

    <div class="container">
        <!-- Conteúdo Principal -->
    </div>

</body>
</html>