<!DOCTYPE html>
<html>
  <head>
    <title>Editar Doador</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/donators">Lista de doadores</a></h3>
      <h1>Editar Doador</h1>
      <form action="/donators/update/<%= donator._id %>" method="post">
        <table>
          <tbody>
            <tr>
              <td>Nome</td>
              <td><input type="text" name="name" value="<%= donator.name %>" /></td>
            </tr>
            <tr>
              <td>Telefone</td>
              <td><input type="text" name="phone" value="<%= donator.phone %>" /></td>
            </tr>
            <tr>
              <td>Morada</td>
              <td><input type="text" name="address" value="<%= donator.address %>" /></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Update</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>
