<!DOCTYPE html>
<html>
  <head>
    <title>Criar Entidade</title>
    <link rel='stylesheet' href='/stylesheets/add&edit.css' />
  </head>
  <body>
      <div class="header">
        <a href="/entities">
          <h1>Recicla Têxtil</h1>
        </a>
      </div>
      <div class="header2">
        <h2>Adicionar entidade</h2>
      </div>
      <form action="/entities/save" method="post" enctype = "multipart/form-data">
        <table>
          <tbody>
            <tr>
              <td>Nome</td>
            </tr>
            <tr>
              <td><input type="text" name="name" placeholder="Nome"/></td>
            </tr>
            <tr>
              <td>Descrição</td>
            </tr>
            <tr>
              <td><input type="text" name="description" placeholder="Descrição"/></td>
            </tr>
            <tr>
              <td>Morada</td>
            </tr>
            <tr>
              <td><input type="text" name="address" placeholder="Morada"/></td>
            </tr>
            <tr>
              <td>Email</td>
            </tr>
            <tr>
              <td><input type="text" name="email" placeholder="Email"/></td>
            </tr>
            <tr>
              <td>Telefone</td>
            </tr>
            <tr>
              <td><input type="number" name="phone" placeholder="Telefone"/></td>
            </tr>
            <tr>
              <td>Imagem / Logotipo</td>
            </tr>
            <tr>
              <td><input type="file" name="image" accept="image/*"/></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Adicionar</button></td>
            </tr>
          </tbody>
        </table>
      </form>
  </body>
</html>
