<!DOCTYPE html>
<html>
  <head>
    <title>Registar Doação</title>
    <link rel='stylesheet' href='/stylesheets/add&edit.css' />
  </head>
  <body>
    <div class="header">
      <h1>Recicla Têxtil</h1>
    </div>
    <div class="header2">
      <h2>Registar doação</h2>
    </div>
      <form action="/donations/save" method="post">
        <table>
            <tr>
              <td>Contacto do doador</td>
            </tr>
            <tr>
              <td><input type="number" name="donatorPhone" /></td>
            </tr>
            <tr>
              <td>Número de Peças Superiores</td>
            </tr>
            <tr>
              <td><input type="number" name="topPiecesNumber" /></td>
            </tr>
            <tr>
              <td>Número de Peças Inferiores</td>
            </tr>
              <td><input type="number" name="bottomPiecesNumber" /></td>
            </tr>
            <tr>
              <td>Número de Peças de Roupa Interior</td>
            </tr>
            <tr>
              <td><input type="number" name="underwearPiecesNumber" /></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Registar</button></td>
            </tr>
        </table>
      </form>
  </body>
</html>
