<div class="container">
    <header>
      <h1>Recicla Têxtil</h1>
      <nav>
        <button (click)="redirectToRegisterD()">Doador</button>
        <button (click)="redirectToRegisterE()">Entidade</button>
      </nav>
    </header>
    
    <main>
      <h2>Quem Somos ?</h2>
      <p>
        A Recicla Têxtil é uma plataforma online que permite aos seus utilizadores
        realizarem doações às entidades que são nossas parceiras.
      </p>
      <div class="actions">
        <button class="join">Junte-se a nós</button>
        <button class="simulate">Fazer Simulação</button>
      </div>
    </main>
  </div>
  