<div class="header">
  <a href="/donator">
    <h1>Recicla Têxtil</h1>
  </a>
</div>
<div class="header2">
  <h2>Lista de Entidades</h2>
</div>
<div class="entity-list">
  <ul>
    <li *ngFor="let entity of entities" class="entity-card">
      <img id="image" [src]="entity.imageUrl" />
      <div class="entity-info">
        <p><strong>Nome:</strong> {{ entity?.name }}</p>
        <p><strong>Email:</strong> {{ entity?.email }}</p>
        <p><strong>Telefone:</strong> {{ entity?.phone }}</p>
        <p><strong>Descrição:</strong> {{ entity?.description }}</p>
        <p><strong>Morada:</strong> {{ entity?.address }}</p>
        <button (click)="selectEntity(entity)">Selecionar</button>
      </div>
    </li>
  </ul>
</div>
