body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    align-items: center;
    background-color: transparent; 
    padding: 0;
    border: none; 
    height: 100px;
}

.navbar-brand {
    flex: 0 0 auto;
    padding: 0 30px; 
    background-color: rgb(8, 87, 167);
    border-right: 2px solid white; 
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    height: 100%; 
    font-weight: bold;
}

.navbar-links {
    display: flex;
    flex: 1 1 auto; 
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left:60px;
    background-color: #0f7cd4; 
    border-left: 2px solid white; 
    align-items: center; 
    height: 100%;
    gap: 90px;
}

.navbar-links li {
    padding: 10px 15px;
    display: flex;
    align-items: center;
}

.navbar-links .nav-link {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.profile-container {
    display: flex;
    align-items: center;
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

h1{
    margin-left: 50px;
    font-size: 30px;
}
i{
    margin-right:10px ;
    color: #fff;
}

.container{
    display: flex;
    flex-direction: row;
    margin-left: 250px;
}

.chartContainer{
    display: flex;
    flex-direction: row;
    margin-left: 180px;
}

#box{
    width: 200px;
    height: 105px;
    background-color: #f2f8fc;
    text-align: center;
    margin-right: 100px;
}

#box1{
    width: 200px;
    height: 105px;
    background-color: #f4f1fd;
    text-align: center;
    margin-right: 100px;
}

#box2{
    width: 200px;
    height: 105px; 
    background-color: #fcf1f7;
    text-align: center;
    margin-right: 100px;
}

#box3{
    width: 200px;
    height: 105px;
    background-color: #fdf3f0;
    text-align: center;
}

#barChart{
    height: 500px;
    width: 500px;

}
@media (min-width: 1441px) and (max-width: 2560px) {

    .navbar-brand {
        font-size: 24px;
        padding: 0 30px;
    }
    
    .navbar-links {
        gap: 120px;
        padding-left:60px; 
        width:100%;
        
    }
    .container{
        display: flex;
        flex-direction: row;
        margin-left: 250px;
    }
    
    .chartContainer{
        display: flex;
        flex-direction: row;
        margin-left: 70px;
    }
    #box, #box1, #box2, #box3 {
        width: auto;
        margin-right: 50px;
        width: 200px;
        height: 105px;
    }
    #donutChart{
        margin-left: 70px;
    }
}


@media (min-width: 992px) and (max-width: 1440px) {

    .navbar-brand {
        font-size: 24px;
        padding: 0 30px;
    }
    
    .navbar-links {
        gap: 45px;
        padding-left:30px; 
        width:100%;
        
    }
    
    
    .container{
        display: flex;
        flex-direction: row;
        margin-left: 250px;
    }
    
    .chartContainer{
        display: flex;
        flex-direction: row;
        margin-left: 40px;
    }
    #box, #box1, #box2, #box3 {
        width: auto;
        margin-right: 30px;
    }

    
}
@media (min-width: 769px) and (max-width: 991px) {
    .navbar-brand {
        font-size: 20px;
        padding: 0 20px;
    }
    .navbar-links {
        gap: 40px;
        padding-left:30px;
        width:100%;
       
        
    }
    .navbar-links li {
        padding: 8px 12px;
        display: flex;
        align-items: center;
        font-size: 10px;
    }
    .container{
        display: flex;
        flex-direction: row;
        margin-left: 20px;
    }
    
    .chartContainer{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }
    .navbar-links .nav-link i {
        display: none; 
    }
    #box, #box1, #box2, #box3 {
        width: auto;
        margin-right: 60px;
    }

}

@media (min-width: 481px) and (max-width: 769px) {
    .navbar-brand {
        font-size: 15px;
        padding: 0 10px;
    }
    .navbar-links {
        gap: 20px;
        padding-left:15px;
        width:100%;
        height: 100%;
        
    }
    .navbar-links li {
        padding: 5px 9px;
        display: flex;
        align-items: row;
        font-size: 7px;
    }
    .container{
        display: flex;
        flex-direction: row;
        margin-left: 10px;
    }
    
    .chartContainer{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }
    .navbar-links .nav-link i {
        display: none; 
    }
    #box, #box1, #box2, #box3 {
        width: auto;
        margin-right: 20px;
        font-size: 12px;
    }
    #donutChart{
        margin-left: 20px;
    }
    #barChart{
        height: 30;
        width: 30;
    
    }
}


@media (max-width: 480px) {
    .navbar-brand {
        font-size: 15px;
        padding: 0 10px;
    }
    .navbar-links {
        gap: 5px;
        padding-left:20px;
        width:100%;
    }
    .navbar-links li {
        padding: 5px 9px;
        display: flex;
        align-items: row;
        font-size: 7px;
    }
    .container{
        display: flex;
        flex-direction: row;
        margin-left: 60px;
    }
    
    .chartContainer{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }
    .navbar-links .nav-link i {
        display: none; 
    }
    #box, #box1, #box2, #box3 {
        width: auto;
        margin-right: 20px;
        font-size: 10px;
    }
    #barChart{
        height: 30;
        width: 30;
    
    }
    #donutChart{
        margin-left: 10px;
    }
}
