
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f7cd4;
    padding: 50px;
}

.navbar-brand span {
    font-size: 24px;
    color: #fff;
    background-color: rgb(8, 87, 167);
    padding: 52px 30px;
    margin-left: -50px;
    border-right: 5px solid #fff;
    
}

.navbar-links {
    display: flex;
    gap: 100px;
    
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-right: 0px;
}

.nav-link:hover {
    background-color: #0091ff;
}
.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}



.container {
    padding: 20px;
}

i{
    margin-right:10px ;
    color: #fff;
}