<div class="container">
  <header>
      <h1>Recicla Têxtil</h1>
      <nav>
          <a href="/profileEntity"><button type="button">Perfil</button></a>
          <button type="button"(click)="encerrarSessao()">Encerrar Sessão</button>
      </nav>
  </header>
  <div class="header2">
    <h2>Histórico de doações</h2>
  </div>
  <div class="donation-list">
    <ul>
      <li *ngFor="let donation of paginatedDonations()" class="donation-card">
        <div class="donation-info">
          <p><strong>Nome do doador:</strong> {{ donation?.donatorId?.name }}</p>
          <p><strong>Número de peças superiores:</strong> {{ donation?.topPiecesNumber }}</p>
          <p><strong>Número de peças inferiores:</strong> {{ donation?.bottomPiecesNumber }}</p>
          <p><strong>Número de peças de roupa interior:</strong> {{ donation?.underwearPiecesNumber }}</p>
          <p><strong>Dinheiro:</strong> {{ donation?.moneyDonated }}€</p>
          <p><strong>Estado:</strong> {{ donation?.status }}</p>
        </div>
      </li>
    </ul>
    <div class="pagination-controls">
      <button (click)="prevPage()" [disabled]="currentPage === 1">Anterior</button>
      <p>{{currentPage}}/{{totalPages}}</p>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">Próxima</button>
    </div>
  </div>
</div>
