<div class="header">
      <a href="/entities">
        <h1>Recicla Têxtil</h1>
      </a>
    </div>
    <div class="header2">
      <h2>Informações da Entidade</h2>
    </div>
    <div class="container">
      <table>
        <tbody>
          <tr>
            <td>Nome</td>
            <td>:</td>
            <td>{{ entity?.name }}</td>
          </tr>
          <tr>
            <td>Descrição</td>
            <td>:</td>
            <td>{{ entity?.name }}</td>
          </tr>
          <tr>
            <td>Morada</td>
            <td>:</td>
            <td>{{ entity?.address }}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>:</td>
            <td>{{ entity?.email }}</td>
          </tr>
          <tr>
            <td>Telefone</td>
            <td>:</td>
            <td>{{ entity?.phone }}</td>
          </tr>
        </tbody>
      </table>
</div>

