<div class="container">
    <header>
      <h1>Recicla Têxtil</h1>
    </header>
    <div class="header2">
        <h2>Unicef</h2>
    </div>
    
    <main>
        <h3>Histórico de doações</h3>
        <table>
            <thead>
              <tr>
                <th>Contacto do Doador</th>
                <th>Número de Peças Superiores</th>
                <th>Número de Peças Inferiores</th>
                <th>Número de Peças de Roupa Interior</th>
                <th>Pontos obtidos</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>930613593</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>7</td>
              </tr>
            </tbody>
          </table>
    </main>
  </div>
  
