<!DOCTYPE html>
<html>
  <head>
    <title>Detalhes do Administrador</title>
    <link rel='stylesheet' href='/stylesheets/show.css' />
  </head>
  <body>
    <div class="header">
      <a href="/menuAdmin">
        <h1>Recicla Têxtil</h1>
      </a>
    </div>
    <div class="header2">
      <h2>Informações do Administrador</h2>
    </div>
    <div class="container">
      <table>
        
          <tr>
            <td>Nome</td>
            <td>:</td>
            <td><%= admin.name %></td>
          </tr>
          <tr>
            <td>Email</td>
            <td>:</td>
            <td><%= admin.email %></td>
          </tr>
          <tr>
            <td>Telefone</td>
            <td>:</td>
            <td><%= admin.phone %></td>
          </tr>
        </tbody>
        <tr>
          <td><a href="/editPassword" class ="password">Alterar password</a></td>
          
        </tr>
      
      </table>
      <form action="/admins/edit/<%= admin._id%>" method="get">
        <button type="submit">EDITAR</button>
      </form>
    </div>
  </body>
</html>
