<div class="container">
  <header>
    <a href="/donator">
        <h1>Recicla Têxtil</h1>
      </a>
  </header>
  <div class="header2">
      <h2>Pontos e vouchers</h2>
  </div>
  <div class="points-info">
      <table>
          <tr>
              <td>Os seus pontos: {{ totalPoints }}</td>
          </tr>
          <tr>
              <td>Vouchers acumulados: {{ vouchersNumber }}</td>
          </tr>
          <tr>
              <td>Pontos necessários para um voucher:</td>
              <td>{{ pointsNeededForVoucher }}</td>
          </tr>
          <tr>
              <td colspan="2">
                  <button (click)="exchangePoints()">Trocar pontos por voucher</button>
              </td>
          </tr>
      </table>
  </div>
</div>