<!DOCTYPE html>
<html>
  <head>
    <title>Criar Administrador</title>
    <link rel='stylesheet' href='/stylesheets/add&edit.css' />
  </head>
  <body>
    <div class="header">
      <a href="/admins">
        <h1>Recicla Têxtil</h1>
      </a>
    </div>
    <div class="header2">
      <h2>Adicionar administrador</h2>
    </div>
      <form action="/admins/save" method="post" enctype = "multipart/form-data">
        <table>
            <tr>
              <td>Nome</td>
            </tr>
            <tr>
              <td><input required="true" type="text" name="name" placeholder="Nome"/></td>
            </tr>
            <tr>
              <td>Email</td>
            </tr>
            <tr>
              <td><input required="true" type="text" name="email" placeholder="Email"/></td>
            </tr>
            <tr>
              <td>Telefone</td>
            </tr>
            <tr>
              <td><input min=900000000 max=999999999 required="true" type="number" name="phone" placeholder="Telefone"/></td>
            </tr>
            <tr>
              <td>Password</td>
            </tr>
            <tr>
              <td><input required="true" type="text" name="password" placeholder="Password"/></td>
            </tr>
            <tr>
              <td>Imagem/Fotografia</td>
            </tr>
            <tr>
              <td><input type="file" name="image" accept="image/*"/></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Adicionar</button></td>
            </tr>
        </table>
      </form>
  </body>
</html>
