<!DOCTYPE html>
<html>
  <head>
    <title>Editar Administrador</title>
    <link rel='stylesheet' href='/stylesheets/add&edit.css' />
    <style>

    
    td{
      font-size: 14px; 
      line-height: 22px; 
      font-weight: 700;
      margin-left: 20px;
      font-family: Arial, Helvetica, sans-serif;
  }
</style>
  </head>
  <body>
      <div class="header">
        <a href="/admin/profile">
          <h1>Recicla Têxtil</h1>
        </a>
      </div>
      <div class="header2">
        <h2>Editar Password</h2>
      </div>
    <form action="/editPassword" method="post">
      <table>
        <tr>
          <td>Password Atual</td>
        </tr>
        <tr>
          <td> <input required="true" type="password" id="current-password" name="currentPassword" placeholder="**********" required></td>
        </tr>
        <tr>
          <td>Password Nova</td>
        </tr>
        <tr>
          <td> <input required="true" type="password" id="new-password" name="newPassword" placeholder="**********" required></td>
        </tr>
        <tr>
          <td>Confirmar Password</td>
        </tr>
        <tr>
          <td><input required="true" type="password" id="confirm-password" name="confirmPassword" placeholder="**********" required></td>
        </tr>
        <tr>
          <td colspan="2"><button type="submit">Alterar Password</button></td>
        </tr>
      </table>   
    </form>
  </body>
</html>