<!DOCTYPE html>
<html>
  <head>
    <title>Criar Entidade</title>
    <link rel='stylesheet' href='/stylesheets/add&edit.css' />
  </head>
  <body>
      <div class="header">
        <h1>Recicla Têxtil</h1>
      </div>
      <div class="header2">
        <h2>Adicionar entidade</h2>
      </div>
      <form action="/entities/save" method="post">
        <table>
          <tbody>
            <tr>
              <td>Nome</td>
            </tr>
            <tr>
              <td><input type="text" name="name" value="Nome"/></td>
            </tr>
            <tr>
              <td>Descrição</td>
            </tr>
            <tr>
              <td><input type="text" name="description" value="Descrição"/></td>
            </tr>
            <tr>
              <td>Morada</td>
            </tr>
            <tr>
              <td><input type="text" name="address" value="Morada"/></td>
            </tr>
            <tr>
              <td>Email</td>
            </tr>
            <tr>
              <td><input type="text" name="email" value="Email"/></td>
            </tr>
            <tr>
              <td>Telefone</td>
            </tr>
            <tr>
              <td><input type="number" name="phone" value="Telefone"/></td>
            </tr>
            <tr>
              <td>Imagem / Logotipo</td>
            </tr>
            <tr>
              <td><input type="file" name="image"/></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Save</button></td>
            </tr>
          </tbody>
        </table>
      </form>
  </body>
</html>
