<!DOCTYPE html>
<html>
  <head>
    <title>Criar Entidade</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/entities">Lista de entidades</a></h3>
      <h1>Criar nova Entidade</h1>
      <form action="/entities/save" method="post">
        <table>
          <tbody>
            <tr>
              <td>Nome</td>
              <td><input type="text" name="name" /></td>
            </tr>
            <tr>
              <td>Descrição</td>
              <td><input type="text" name="description" /></td>
            </tr>
            <tr>
              <td>Morada</td>
              <td><input type="text" name="address" /></td>
            </tr>
            <tr>
              <td>Email</td>
              <td><input type="text" name="email" /></td>
            </tr>
            <tr>
              <td>Telefone</td>
              <td><input type="number" name="phone" /></td>
            </tr>
            <tr>
              <td>Imagem / Logotipo</td>
              <td><input type="file" name="image" /></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Save</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>
