<div class="register-card">
  <a href="/welcomePage">
    <h1>Recicla Têxtil</h1>
  </a>
  <div class="register-container">
    <h2>Registar Entidade</h2>
    <form (ngSubmit)="submitForm()" #entityForm="ngForm">
      <label for="name">Nome:</label>
      <input id="name" placeholder="Entidade 123" [(ngModel)]="entity.name" name="name" type="text" required #entityName="ngModel">
      <div *ngIf="entityName.errors && (entityName.dirty || entityName.touched)" class="alert">
        <div *ngIf="entityName.errors['required']">Campo obrigatório</div>
      </div><br>

      <label for="description">Descrição:</label>
      <input id="description" placeholder="Legal" [(ngModel)]="entity.description" name="description" type="text" required #description="ngModel">
      <div *ngIf="description.errors && (description.dirty || description.touched)" class="alert">
        <div *ngIf="description.errors['required']">Campo obrigatório</div>
      </div><br>

      <label for="email">Email:</label>
      <input id="email" placeholder="example@gmail.com" [(ngModel)]="entity.email" name="email" type="email" required #entityEmail="ngModel">
      <div *ngIf="entityEmail.errors && (entityEmail.dirty || entityEmail.touched)" class="alert">
        <div *ngIf="entityEmail.errors['required']">Campo obrigatório</div>
        <div *ngIf="entityEmail.errors['email']">Formato de email inválido</div>
      </div><br>

      <label for="phone">Telefone:</label>
      <input id="phone" placeholder="Telefone" [(ngModel)]="entity.phone" name="phone" type="text" required #entityPhone="ngModel">
      <div *ngIf="entityPhone.errors && (entityPhone.dirty || entityPhone.touched)" class="alert">
        <div *ngIf="entityPhone.errors['required']">Campo obrigatório</div>
        <div *ngIf="entityPhone.errors['pattern']">Número de telefone inválido</div>
      </div><br>

      <label for="address">Morada:</label>
      <input id="address" placeholder="Rua" [(ngModel)]="entity.address" name="address" type="text" required #entityAddress="ngModel">
      <div *ngIf="entityAddress.errors && (entityAddress.dirty || entityAddress.touched)" class="alert">
        <div *ngIf="entityAddress.errors['required']">Campo obrigatório</div>
      </div><br>

      <label for="password">Password:</label>
      <div class="password-container">
        <input id="password" placeholder="**********************" [(ngModel)]="entity.password" name="password" type="password" required #entityPassword="ngModel">
        <div *ngIf="entityPassword.errors && (entityPassword.dirty || entityPassword.touched)" class="alert">
          <div *ngIf="entityPassword.errors['required']">Campo obrigatório</div>
        </div>
      </div>

      <label for="upload-input" id="upload-label">Escolher imagem</label>
      <input type="file" id="upload-input" (change)="onFileSelected($event)" />

      <button class="login-button" type="submit" [disabled]="entityForm.invalid">Register</button>
    </form>
    <footer>
      <p>Já tem uma conta?<a href="/login"> Iniciar Sessão</a></p>
    </footer>
  </div>
</div>