<!DOCTYPE html>
<html>
  <head>
    <title>Create Admin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/admins">Admin List</a></h3>
      <h1>Create New Admin</h1>
      <form action="/admins/save" method="post">
        <table>
          <tbody>
            <tr>
              <td>Name</td>
              <td><input type="text" name="name" /></td>
            </tr>
            <tr>
              <td>Email</td>
              <td><input type="text" name="email" /></td>
            </tr>
            <tr>
              <td>UserName</td>
              <td><input type="text" name="userName" /></td>
            </tr>
            <tr>
              <td>Password</td>
              <td><input type="text" name="password" /></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Save</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>
