<!DOCTYPE html>
<html>
  <head>
    <title>Editar Administrador</title>
    <link rel='stylesheet' href='/stylesheets/add&edit.css' />
  </head>
  <body>
      <div class="header">
        <a href="/profile">
          <h1>Recicla Têxtil</h1>
        </a>
      </div>
      <div class="header2">
        <h2>Editar Password</h2>
      </div>
      <br>
    <form action="/editPassword" method="post">
        <div>
            <label for="current-password">Senha Atual:</label>
            <input type="password" id="current-password" name="currentPassword" required>
        </div>
        <br>
        <div>
            <label for="new-password">Nova Senha:</label>
            <input type="password" id="new-password" name="newPassword" required>
        </div>
        <br>
        <div>
            <label for="confirm-password">Confirmar Nova Senha:</label>
            <input type="password" id="confirm-password" name="confirmPassword" required>
        </div>
        <button type="submit">Alterar Password</button>
    </form>
  </body>
</html>