<!DOCTYPE html>
<html>
  <head>
    <title>Lista de Administradores</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/admins/create">Criar Administrador</a></h3>
      <h1>Lista de Administradores</h1>
      <% if(admins.length>0) { %>
      <table class="list-table">
        <thead>
          <tr>
            <th>Nome do administrador</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>

          <% for(var i=0; i<admins.length;i++) { %>
            <tr>
              <td><a href="/admins/show/<%= admins[i]._id%>"><%= admins[i].name%></a></td>
              <td><%= admins[i].email%></td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <% } else { %>
        <div>Nenhum administrador encontrado.</div>
      <% } %>
    </div>
  </body>
</html>
