<div class="login-card">
    <h1>Recicla Têxtil</h1>
    <div class="login-container">
      <h2>Entrar</h2><br><br>
  
      
        <label for="email">Email:</label><br>
        <input id="email" placeholder="example@gmail.com" [(ngModel)]="email" name="email" type="email" required><br>
  
        <label for="password">Password:</label><br>
        <div class="password-container">
          <input id="password" placeholder="**********************" [(ngModel)]="password" name="password" type="password" required>
          <i class="fa fa-eye-slash" (click)="togglePasswordVisibility()"></i>
        </div><br>
  
        <button class="login-button" (click)="login()"> Login </button>
        <button class="login-button" (click)="register()"> Register </button>

      
    </div>
</div>


