<div class="login-card">
    <h1 class="clickable-title" (click)="redirectToHome()">Recicla Têxtil</h1>
    <div class="login-container">
      <h2>Login</h2><br><br>
        
        <label for="email">Email:</label><br>
        <input id="email" placeholder="example@gmail.com" [(ngModel)]="email" name="email" type="text" required><br>
  
        <label for="password">Password:</label><br>
        <div class="password-container">
          <input id="password" placeholder="**********************" [(ngModel)]="password" name="password" type="password" required>
        </div><br>
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
  
        <button class="login-button" (click)="login()"> Login </button>
        <button class="login-button" (click)="register()"> Register </button>
    </div>
</div>


