body {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    margin: 0;
    display: flex;
    background-color: #00659FFF;
    color: white;
    width: 100%;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.header2 {
    display: flex;
    background-color: white;
    width: 100%;
    height: 50px;
}

h1, h2 {
    margin-top: 15px;
    margin-left: 20px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="text"], input[type="number"], input[type="password"] {
  width: 306px; 
  height: 36px; 
  padding-left: 12px; 
  padding-right: 12px; 
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 400; 
  background: #F3F4F6FF;
  color:#BDC1CAFF;
  border-radius: 4px;
  border-width: 0px; 
  outline: none
}

button {
    margin-top: 15px;
    height: 36px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
    background: #00659FFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

td{
    font-size: 14px; 
    line-height: 22px; 
    font-weight: 700;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

table{
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none; 
    color: inherit;
}
