<div class="header">

  <h1 class="redirectToProfile" (click)="redirectToProfile()">Recicla Têxtil</h1>
</div>
<div class="container">
    <h2>Alterar Password</h2>
    <form (ngSubmit)="onSubmit()" #changePasswordForm="ngForm">
      <div>
        <label for="currentPassword">Password Atual:</label>
        <input type="password" id="currentPassword" required [(ngModel)]="currentPassword" name="currentPassword" #currentPasswordInput="ngModel">

      </div>
  
      <div>
        <label for="newPassword">Nova Password:</label>
        <input type="password" id="newPassword" required [(ngModel)]="newPassword" name="newPassword" #newPasswordInput="ngModel">
      </div>
  
      <div>
        <label for="confirmPassword">Confirmar Nova Password:</label>
        <input type="password" id="confirmPassword" required [(ngModel)]="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" (ngModelChange)="checkPasswords()">
        
        
      </div>
  
      <button type="submit" [disabled]="changePasswordForm.invalid || passwordMismatch">Alterar Senha</button>
    </form>
  </div>
