<!DOCTYPE html>
<html>
  <head>
    <title>Editar Doador</title>
    <link rel='stylesheet' href='/stylesheets/add&edit.css' />
  </head>
  <body>
      <div class="header">
        <a href="/donators">
          <h1>Recicla Têxtil</h1>
        </a>
      </div>
      <div class="header2">
        <h2>Editar doador</h2>
      </div>
      <form action="/donators/update/<%= donator._id %>" method="post" enctype = "multipart/form-data">
        <table>
            <tr>
              <td>Nome</td>
            </tr>
            <tr>
              <td><input type="text" name="name" placeholder="<%= donator.name %>" /></td>
            </tr>
            <tr>
              <td>Telefone</td>
            </tr>
              <td><input type="text" name="phone" placeholder="<%= donator.phone %>" /></td>
            </tr>
            <tr>
              <td>Morada</td>
            </tr>
              <td><input type="text" name="address" placeholder="<%= donator.address %>" /></td>
            </tr>
            <tr>
              <td>Fotografia</td>
            </tr>
            <tr>
              <td><input type="file" name="image" accept="image/*"/></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Atualizar</button></td>
            </tr>
        </table>
      </form>
  </body>
</html>
