<div class="container">
  <header>
      <h1>Recicla Têxtil</h1>
      <nav>
          <a href="/registDonation"><button type="button">Realizar doação</button></a>
          <a href="/donator/donations"><button type="button">Histórico de Doações</button></a>
          <a href="/points"><button type="button">Pontos</button></a>
          <a href="/profileDonator"><button type="button">Perfil</button></a>
          <button type="button"(click)="encerrarSessao()">Encerrar Sessão</button>
      </nav>
  </header>
  <div class="header2">
      <h2>Boas vindas à sua dashboard</h2>
  </div>
  <div class="stats">
    <div class="stat-box">
      <h3>Total de Pontos</h3>
      <p>{{ totalPoints }}</p>
    </div>
    <div class="stat-box">
      <h3>Total de Donativos</h3>
      <p>{{ totalDonations }}</p>
    </div>
  </div>
  <div id="plot"></div>
  <main>
  </main>
</div>
