<div class="register-card">
  <a href="/welcomePage">
    <h1>Recicla Têxtil</h1>
  </a>
  <div class="register-container">
    <h2>Registar Doador</h2>
    <form (ngSubmit)="submitForm()" #donatorForm="ngForm">
      <label for="name">Nome:</label>
      <input id="name" placeholder="Joao" [(ngModel)]="donator.name" name="name" type="text" required #name="ngModel">
      <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert">
        <div *ngIf="name.errors['required']">Campo obrigatório</div>
      </div><br>

      <label for="email">Email:</label>
      <input id="email" placeholder="example@gmail.com" [(ngModel)]="donator.email" name="email" type="email" required #email="ngModel">
      <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert">
        <div *ngIf="email.errors['required']">Campo obrigatório</div>
        <div *ngIf="email.errors['email']">Formato de email inválido</div>
      </div><br>

      <label for="phone">Telefone:</label>
      <input id="phone" min="900000000" max="999999999" placeholder="Telefone" [(ngModel)]="donator.phone" name="phone" type="text" required #phone="ngModel">
      <div *ngIf="phone.errors && (phone.dirty || phone.touched)" class="alert">
        <div *ngIf="phone.errors['required']">Campo obrigatório</div>
        <div *ngIf="phone.errors['pattern']">Número de telefone inválido</div>
      </div><br>

      <label for="address">Morada:</label>
      <input id="address" placeholder="Rua" [(ngModel)]="donator.address" name="address" type="text" required #address="ngModel">
      <div *ngIf="address.errors && (address.dirty || address.touched)" class="alert">
        <div *ngIf="address.errors['required']">Campo obrigatório</div>
      </div><br>

      <label for="password">Password:</label>
      <div class="password-container">
        <input id="password" placeholder="**********************" [(ngModel)]="donator.password" name="password" type="password" required #password="ngModel">
        <div *ngIf="password.errors && (password.dirty || password.touched)" class="alert">
          <div *ngIf="password.errors['required']">Campo obrigatório</div>
        </div>
      </div><br>

      <label for="canvasserCode">Código do Angariador:</label>
      <input id="canvasserCode" placeholder="Código do Angariador" [(ngModel)]="donator.canvasserCode" name="canvasserCode" type="text"><br>

      <label for="upload-input" id="upload-label">Escolher imagem</label>
      <input type="file" id="upload-input" (change)="onFileSelected($event)" />

      <button class="login-button" type="submit" [disabled]="donatorForm.invalid">Register</button>
    </form>
    <footer>
      <p>Já tem uma conta?<a href="/login"> Iniciar Sessão</a></p>
    </footer>
  </div>
</div>