<div class="register-card">
  <a href="/welcomePage">
    <h1>Recicla Têxtil</h1>
  </a>
  <div class="register-container">
    <h2>Registar Doador</h2>

    <label for="name">Nome:</label>
    <input id="name" placeholder="Joao" [(ngModel)]="donator.name" name="name" type="text" required><br>

    <label for="email">Email:</label>
    <input id="email" placeholder="example@gmail.com" [(ngModel)]="donator.email" name="email" type="text" required><br>

    <label for="phone">Telefone:</label>
    <input id="phone" min="900000000" max="999999999" placeholder="Telefone" [(ngModel)]="donator.phone" name="phone" type="text" required><br>

    <label for="address">Morada:</label>
    <input id="address" placeholder="Rua" [(ngModel)]="donator.address" name="address" type="text" required><br>

    <label for="password">Password:</label>
    <div class="password-container">
      <input id="password" placeholder="**********************" [(ngModel)]="donator.password" name="password" type="password" required>
    </div><br>

    <label for="canvasserCode">Código do Angariador:</label>
    <input id="canvasserCode" placeholder="Código do Angariador" [(ngModel)]="donator.canvasserCode" name="canvasserCode" type="text"><br>

    <label for="upload-input" id="upload-label">Escolher imagem</label>
    <input type="file" id="upload-input" (change)="onFileSelected($event)" />

    <button class="login-button" (click)="submitForm()"> Register </button>

    <footer>
      <p>Já tem uma conta?<a href="/login"> Iniciar Sessão</a></p>
    </footer>
  </div>
</div>
