<div class="header">
    <a href="/profileDonator">
      <h1>Recicla Têxtil</h1>
    </a>
</div>
<div class="container">
  <h2>Editar dados doador</h2>
    <form>
      <table>
        <tr>
          <td>
            <label for="name">Nome:</label>
            <input id="name" required type="text" [(ngModel)]="donator.name" placeholder="Nome" #name="ngModel" name="name">
            <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert">
              <div *ngIf="name.errors['required']">Campo obrigatório</div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <label for="email">Email:</label>
            <input id="email" required type="text" [(ngModel)]="donator.email" placeholder="Email" #email="ngModel" name="email">
            <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert">
              <div *ngIf="email.errors['required']">Campo obrigatório</div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <label for="phone">Telefone:</label>
            <input id="phone" required type="number" [(ngModel)]="donator.phone" placeholder="Telefone" #phone="ngModel" min="900000000" max="999999999" name="phone">
            <div *ngIf="phone.errors && (phone.dirty || phone.touched)" class="alert">
              <div *ngIf="phone.errors['required']">Campo obrigatório</div>
              <div *ngIf="phone.errors['min'] || phone.errors['max']">
                O número de telefone deve ter exatamente 9 dígitos e estar entre 900000000 e 999999999.
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <label for="address">Morada:</label>
            <input id="address" required type="text" [(ngModel)]="donator.address" placeholder="Morada" #address="ngModel" name="address">
            <div *ngIf="address.errors && (address.dirty || address.touched)" class="alert">
              <div *ngIf="address.errors['required']">Campo obrigatório</div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <label for="upload-input" id="upload-label">Escolher imagem</label>
            <input type="file" id="upload-input" (change)="onFileSelected($event)" />
          </td>
        </tr>
        <tr>
          <td>
            <button type="submit" (click)="onSubmit()">Salvar</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
  
  